
/*reset css*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



body {
  
  /*background-image:url("../img/bg-image.jpg"); */ 
  background-image: linear-gradient(to bottom, #ffd89b , #19547b);  
  background-size: auto  100vh;
  background-attachment: fixed;
  font-family: arial;
  height: 100vh;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  
  }

/*If screen has at least 400px, this style will be loaded*/
@media (min-width: 240px){
  body{

    font-size: 20px;
  }

}

@media (min-width: 400px){
  body{

    font-size: 24px;
  }
}

@media (min-width: 600px){
  body{

    font-size: 26px;
  }
}

@media (min-width: 900px){
  body{

    font-size: 28px;
  }
}

header{
  margin-top: 10%;
  margin-bottom: 10%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

 
}



.menu {
  background-image: linear-gradient(to bottom, #ffd89b 55%, rgba(255,0,0,0));
  padding-bottom: 30px;
  position: fixed;
  z-index: 1;
  width: 100vw;
  top:0;
  border: 0;
  transform: translateY(-100%);
  animation: menu-intro 0.5s forwards ease-out;
}

@keyframes menu-intro{

  from{
    transform: translateY(-100%);
  }

  to{
    transform: translateY(0);
  }
}




.menu li {
  list-style:none;
  
}

.menu ul{

  border: 0;
  display:flex;
  justify-content:space-around;
  border-bottom:0.15em white;
  border-style: solid;
  border-top: 0;
}

a {

}

.menu a{

  text-decoration: none;
  color: #19547b;
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;


}

hr {
  min-height: 2px;
  color: #19547b;
  border: 0px solid #19547b;
  width: 0;
  margin:auto;
  transition: 0.3s;
  margin-bottom: 2px;
 
 
}

.menu a:hover + hr { 
 
 
  color: #19547b;
  border: 1px solid #19547b;
  width: 100%;


}

.titles{

}


.site-subtitle,
.site-title,
section h2 {
  
  
  text-align:center;
  color:whitesmoke;
}

.site-title {
  opacity: 0;
  animation: forwards 2s intro;
  animation-delay: 0.5s;
  font-size: 2em;
 /* text-shadow: 1px 1px 1px #515151;*/
  font-family: 'Josefin Sans', sans-serif;
}

@keyframes intro{
  0%{

    text-shadow:  rgb(255, 216, 155, 1) 0px 0px 5px;
    color:  rgb(255, 216, 155, 1);
  }

  50%{

    opacity: 1;

  }

  60%{
    opacity: 1;
    text-shadow:  rgb(255, 216, 155, 1) 0px 0px 10px;
    color: white;
  }

  100%{
    color: white;
    opacity: 1;
    text-shadow: 1px 1px 1px #515151;
  }
}

.site-subtitle{
  font-style:italic;
  font-family: 'Comfortaa', cursive;
  animation: forwards 0.5s sub-intro;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes sub-intro{

  from{
    opacity: 0;
  }


  to{
    opacity: 1;
  }

}


section {

  opacity: 0;
  transform: translate(0, 5%);
  animation: forwards 0.5s section-up;
  animation-delay: 2s;
}

@keyframes section-up{
  from{
    opacity: 0;
    transform: translate(0, 5%);

  }

  to{
    opacity: 1;
    transform: translate(0, 0);

  }
 
}


.section-header-flex-container{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: auto;
  margin-bottom: 3em;

}

section h2{

 
  margin-right: 1%;
  margin-left: 1%;
  font-family: 'Comfortaa', cursive;

  
}

.section-header-flex-container span{

  height: 3px;
  width: 0%;
  background-color: whitesmoke;
  animation: forwards ease-out 0.5s side-lines-intro;
  animation-delay: 2.3s;

}

@keyframes side-lines-intro{

  from{
    width: 0%;
  }

  to{
    width: 30%;
  }
}


.portfolio,
.contato{

  padding: 1em;

}

.portfolio .grid{

  display: grid;
  gap: 1em;
  grid-template-columns: 80vw;
  justify-content: center;
  align-content: center;

  
}


@media(min-width: 485px){

  .portfolio .grid{
    grid-template-columns: 35vw 35vw;
    
  }

}

@media(min-width: 800px){

  .portfolio .grid{
    grid-template-columns: 25vw 25vw 25vw;

    /* or 
    grid-template-columns: repeat(3, 240px);*/
  }

}


@media(min-width: 900px){

  .portfolio .grid{
    grid-template-columns: 240px 240px 240px;
    align-content: center;
    justify-content: center;

  }

}
.portfolio figure {

  text-align: center;
  background-color: white;
  box-shadow: #404040 3px 3px 10px;
  transition: transform .2s; 
  border-radius: 3px;


}


.portfolio figure:hover {

    transform: scale(1.02); 
    box-shadow: #404040 3px 3px 10px 2px;
}




.img-portfolio{

  height: 25vh;
  width: 80vw;
  object-fit: cover;
  object-position: bottom right;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  
}

@media(min-width: 485px){

  .img-portfolio{

  
    width: 35vw;

    
  }

}

@media(min-width: 800px){

  .img-portfolio{

 
    width: 25vw;
    
  }

}


@media(min-width: 900px){

  .img-portfolio{

   
    width: 240px;
    object-fit: cover;
    
  }

}



figcaption{
 
 
  font-size: 17px;
  color:#333333;
  font-weight: bold;
 
}


.portfolio p {
  font-size: 17px;
  text-align: justify;
  padding: 0.5em;
  color:#333333;
}

.contato {

  height: 50vh;
}

.contato .icons{
  text-align: center;
}

.contato a{
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  transition: text-shadow 0.3s;
}

.contato a:active,
.contato a:hover{

  text-shadow: rgb(255, 216, 155, 1) 0px 0px 5px;
}
